<div class="row">
    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><i
                    class="fas fa-user-edit"></i>&nbsp;&nbsp; Edit Personal Details</h6>
            </div>
            <div class="card-body">
                <form class="user" (ngSubmit)="updateProfile()" #profileUpdateForm="ngForm">
                    <div id="profileData" ngModelGroup="profileData">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="firstName"
                                    name="p_firstName" [(ngModel)]="loggedInUser.gpsUsers.firstName"
                                    #p_firstName="ngModel" placeholder="First Name" required>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="lastName"
                                    name="p_lastName" [(ngModel)]="loggedInUser.gpsUsers.lastName" #p_lastName="ngModel"
                                    placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control form-control-user" name="p_mobile"
                                [(ngModel)]="loggedInUser.gpsUsers.mobile" minlength="1" maxlength="10"
                                #p_mobile="ngModel" placeholder="mobile number">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" name="p_email" #p_email="ngModel"
                                [(ngModel)]="loggedInUser.gpsUsers.email" placeholder="email">
                        </div>
                        <div class="form-group">
                            <textarea type="textarea" class="form-control form-control-user" name="p_address" rows="2"
                                style="resize: none;" #p_address="ngModel" [(ngModel)]="loggedInUser.gpsUsers.address"
                                ngModel placeholder="address">{{loggedInUser.gpsUsers.address}}
                                </textarea>
                        </div>
                        <p *ngIf="errorMessage !== null" class="small" style="color: red;">{{errorMessage}}</p>
                        <button class="btn btn-primary btn-user btn-block" type="submit"
                            [disabled]="!(profileUpdateForm.dirty)">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(33,148,213,0.86)" size="large" color="#0e0fbd" type="ball-clip-rotate-pulse"
        [fullScreen]="false">
        <p style="color: white">{{pageActionNgxSpinnerText}}</p>
    </ngx-spinner>
</div>